@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --blue-color: #438BCA;
    --yellow-color: #EFCE53;
    --back-div-color: #F3F3F3;
    --fonts-color: #3C3C3C;
    --desc-color: #606060;
}

/* Configs Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;

}

html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    color: var(--fonts-color);
}

p {
    color: var(--desc-color);
}

.center {
    text-align: center;
}

.center h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
    margin-bottom: 30px;
}

.center p{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 60px;
}
/* Fim Configs Globais */

/* Inicio Header */
header {
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 30px;
}

li a {
    color: var(--fonts-color);
    text-decoration: none;
    transition: 0.6s;
}

li a:hover {
    opacity: 0.8;
}

@media screen and (max-width: 850px){
    nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        height: 14vh;
    }
    .nav-list {
        margin-top: 6px;
        margin-bottom: 8px;
    }
    .nav-list li{
        margin-left: 14px;
    }
}

.banner img {
    width: 100%;
    margin-bottom: 90px;
}
/* Fim Header */

/* Incio Product Info */
.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.product-info {
    display: flex;
    justify-content: center;
}

.product-info img {
    float: left;
    margin-left: 10px;
    border: 1px solid black;
    width: 250px;
    height: 250px;
}

.center {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-info p {
    margin-bottom: 15px;
    margin-left: 30px;
}

.sizes{
    border: 1px solid black;
    border-radius: 50px;
    color: #000;
    max-width: fit-content;
    padding: 2px 4px;
    text-align: center;
}

@media screen and (max-width: 700px){
    .product-info {
        display: block;
    }
    .product-info img {
        float: none;
        margin-left: 10px;
        margin-right: 10px;
    }
    .text p{
        margin: 15px;
    }
    .sizes {
        display: flex;
    }
}
/* Fim Product Info */

/* Incio Form */
.contact {
    margin: -8% 29%;
    max-width: 650px;
    width: 100%;
    margin-bottom: 120px;
}

form {
    padding: 1em;
}

input, textarea {
    border-radius: 2px;
    height: 40px;   
    font-size: 14px;
    width: 300px;
    border: 1px solid #000;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), white);
}

input:focus, textarea:focus {
    border: 1px solid var(--desc-color);
}

input[type=text] {
    padding-left: 18px;
    color: black;
    width: 100%;
    outline: 0;
}   

textarea {  
    outline: 0;
    padding-top: 8px;
    padding-left: 18px;
    width: 100%;
    vertical-align: top;
    height: 4em;
    resize: vertical;
}

.form-control.success textarea {
    border: 3px solid #4ECA64;
}

.form-control.error textarea {
    border: 3px solid #DB5A5A;
}

.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #DB5A5A;
}

.form-control.error small{
    color: #DB5A5A;
    visibility: visible;
    display: block;
    margin: 0;
    margin-bottom: 8px;
}

.form-control small {
    visibility: hidden;
    font-size: 14px;
}

.container-button {
    position: relative;
}

.button-form button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: var(--blue-color);
    border-radius: 7px;
    width: 30%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-form button:hover {
    background-color: #2773b6;
}

.button-whats a{
    text-align: center;
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #3BD12A;
    border-radius: 7px;
    width: 30%;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.button-whats a {
    text-decoration: none;
    color: #fff;
}

.button-whats a:hover {
    background-color: #28bd17;
}

.numbers {
    text-align: right;
    margin: -6% 0;
}

.numbers span{
    color: var(--desc-color);
}

@media screen and (max-width: 880px){
    .contact {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 670px){
    .numbers {
        display: inline-block;
        margin-top: 15px;
    }
}
/* Fim Form */

/*Inicio Slider Products*/
.slide-container {
    margin-bottom: 120px;
    max-width: 1120px;
    width: 100%;
    padding: 40px;
}

.slide-content {
    padding: 45px 0;
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .card-content{
    height: 290px;
    width: 290px;
    margin: 0 auto;
    background-color: #FFF;
    position: relative;
}

.card-image {
    display: block;
    width: 290px;
}

.card-image img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sizes{
    border: 1px solid black;
    color: #000;
    border-radius: 50px;
    max-width: fit-content;
    margin: 15px auto;
    padding: 2px 4px;
    text-align: center;
}

.name {
    text-align: center;
    padding-top: 15px;
    font-size: 21px;
    font-weight: 700;
    color: var(--fonts-color);
}

.description {
    padding: 15px 4px;
    font-size: 16px;
    color: var(--desc-color);
    text-align: center;
}


.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: var(--blue-color);
    border-radius: 7px;
    width: 200px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 84% auto;
}

.button:hover {
    background-color: #2773b6;
}

.swiper-navBtn {
    color: var(--blue-color);
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #2773b6;
}

@media screen and (max-width: 768px){
    .slide-content {
        margin: 0 10px;
    }
}
/*Fim Slider Products*/

i {
    color: var(--yellow-color);
    width: 20px;
}

/*Inicio Button Whatsapp*/
.whats-button {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #3BD12A;
    border-radius: 50px;
    text-align: center;
    font-size: 44px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.whats-button::before,
.whats-button::after {
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    bottom: -10px;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    border: 2px solid #3BD12A;
    animation: animate-button-whats 1.5s linear infinite;
}

@keyframes animate-button-whats {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}

.whats-icon {
    color: #fff;
    margin-top: 8px;
    margin-right: 16px;
}

@media screen and (max-width: 670px){
    .whats-button {
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 40px;
        right: 40px;
        background-color: #3BD12A;
        border-radius: 50px;
        text-align: center;
        font-size: 38px;
        box-shadow: 1px 1px 2px #888;
        z-index: 1000;
    }

    .whats-icon {
        color: #fff;
        margin-top: 7px;
        margin-right: 12px;
    }
}
/*Inicio Button Whatsapp*/

/*Inicio Footer*/
footer {
    background-color: var(--blue-color);
    width: 100%;
}

.content-footer {
    color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-text {
    max-width: 300px;
    text-align: center;
}

.footer-text p {
    color: #fff;
    margin-bottom: 15px;
}

.footer-contact h2,
.footer-products h2,
.footer-text h2 {
    margin-bottom: 15px;
    color: #fff;
}

.footer-products {
    text-align: center;
}

.footer-products h2 {
    color: #fff;
}

.footer-products a {
    color: #fff;
}

.footer-products ul li {
    list-style-type: none;
    padding-bottom: 8px;
}

.footer-contact {
    font-size: 16px;
    text-align: center;
    display: grid;
}

.footer-contact span {
    padding-bottom: 8px;
}

.footer-products li::before {
    content: '•';
    margin-right: 8px;
}

@media screen and (max-width: 840px){
    .footer-contact,
    .footer-products {
        margin-top: 24px;
    }

    .content-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}   
/*Fim Footer*/  